<div class="view">
    <div class="header">
        <a class="backLink" href="/"></a>
        <div class="headerText">
            Documents
        </div>
        <!--<div class="headerActions">-->
            <!--<a href="/orders/start">start</a>-->
        <!--</div>-->
        <!--<div class="subHeader">-->
            <!--<div class="columnHeaders">-->
                <!--<div class="columnHeader" style="width: 36%;">Customer</div>-->
                <!--<div class="columnHeader" style="width: 38%;">Name</div>-->
                <!--<div class="columnHeader" style="width: 16%;">Total</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    This is the documents view.
</div>