<div class="view" ms-auth>
    <div class="header">
        <a class="headerTitle" href="/customers">
            Add A New Customer
        </a>
    </div>

    <div>
        <div>
            <div style="background: #E5D9CF;">
                What is the customer's name?
            </div>
            <input class="textInputRow" type="text" ng-model="customer.name">
        </div>

        <div>
            <div style="background: #E5D9CF;">
                What is the customer's address?
            </div>
            <input class="textInputRow" type="text" ng-model="customer.address">
        </div>

        <div>
            <div style="background: #E5D9CF;">
                What is the customer's phone number?
            </div>
            <input class="textInputRow" type="text" ng-model="customer.phone">
        </div>

        <div>
            <div style="background: #E5D9CF;">
                What is the customer's email address?
            </div>
            <input class="textInputRow" type="text" ng-model="customer.email">
        </div>
    </div>

    <div class="footer">
        <div class="footerActions">
            <a class="footerAction" ng-click="add()">add</a>
        </div>
    </div>
</div>