<div class="view" ms-auth>
    <div class="header">
        <a class="headerTitle" href="/">
            Invoices
        </a>
        <div ng-hide="loading" class="headerActions">
            <a class="headerAction" ng-hide="showingPaid" ng-click="toggleShowingPaid()">show paid</a>
            <a class="headerAction" ng-show="showingPaid" ng-click="toggleShowingPaid()">hide paid</a>
            <a class="headerAction" href="/invoices/start">start</a>
        </div>
    </div>
    <div ng-hide="loading">
        <a class="linkedRow" ng-repeat="invoice in invoices" href="/invoices/{{ invoice.id }}">
            <div class="columns" style="position: relative; top: 12px;">
                <div class="column" style="text-indent: 5px; width: 33%; font-size: 16px;">{{ invoice.billedToName }}</div>
                <div class="column" style="width: 45%; font-size: 16px;">{{ (invoice.name || invoice.createdTimestamp) | moment:'ddd, MMM Do \'YY' }}</div>
                <div class="column" style="width: 16%; font-size: 16px;">{{ invoice.total | currency }}</div>
            </div>
<!--             <div ng-hide="invoice.statusId == 4" class="rowFootnote">
                #{{ invoice.id }}, {{ orderCountText(invoice) }}, modified {{ invoice.modifiedTimestamp.toLocaleString() }}
            </div>
            <div ng-show="invoice.statusId == 4" class="rowFootnote">
                #{{ invoice.id }}, {{ orderCountText(invoice) }}, {{ invoice.status.toUpperCase() }}
            </div> -->
        </a>
    </div>
    <div class="viewMessage" ng-hide="invoices.length || loading" style="margin-top: 100px;">
        No unpaid invoices.<br><br><br><br>
        <a href="/invoices/start">start a new invoice</a><br><br><br>
        <a ng-click="toggleShowingPaid()">view paid invoices</a>
    </div>
    <div class="viewMessage" ng-show="loading" style="margin-top: 100px;">
        Loading invoices...
    </div>
</div>
