<div class="view" ms-auth>
    <div class="header">
        <a class="headerTitle" href="/invoices" ng-hide="invoice.loading">
            Invoice #{{ invoice.id }}
        </a>
        <a class="headerTitle" href="/invoices" ng-show="invoice.loading">
            Loading Invoice...
        </a>
        <div class="headerActions" ng-show="invoice.statusId == 1 && !invoice.loading">
            <a class="headerAction" ng-href="/invoices/{{ invoice.id }}/addOrder">+ order</a>
            <a class="headerAction" ng-href="/invoices/{{ invoice.id }}/addAdjustment">+ adjustment</a>
        </div>
    </div>

    <div class="viewMessage" ng-show="invoice.loading">
        Loading...
    </div>

    <div class="viewMessage" ng-show="invoice.error">
        There was an error loading that invoice.<br>
        {{ invoice.error }} <br><br>
        <a href="/invoices" style="font-weight: bold;">list all invoices</a>
    </div>

    <div ng-hide="invoice.error || invoice.loading" style="position: relative;">
        <div class="card">
            <div style="text-indent: 4px; font-size: 17px; margin-bottom: 2px;">
                <div>{{ invoice.name || invoice.createdTimestamp.toDateString() }} billed to {{ invoice.billedToName }}</div>
                <div ng-show="invoice.billedToPhone">phone: {{ invoice.billedToPhone }}</div>
                <div ng-show="invoice.billedToEmail">email: {{ invoice.billedToEmail }}</div>
                <div ng-hide="invoice.billedToPhone"><br></div>
                <div ng-hide="invoice.billedToEmail"><br></div>
            </div>
        </div>

        <div style="margin-bottom: 50px;">
            <div ng-hide="invoice.orders.length" style="text-align: center; margin-top: 200px;">
                There are no orders in this invoice.<br><br>
                <a ng-show="invoice.statusId == 1" href="/invoices/{{ invoice.id }}/addOrder" style="font-weight: bold;">add an order now</a>
            </div>

            <div style="text-indent: 5px; background: #E5D9CF;">Orders</div>
            <div ng-click="orderClick(order)"
                 ng-class="{ selectedRow: removingOrder == order }"
                 ng-swipe-right="removeOrder(order)"
                 class="linkedRow"
                 ng-repeat="order in invoice.orders">
                <div class="columns" style="top: 12px;">
                    <div class="column"
                         style="width: 20%; font-size: 16px; text-align: center;">
                        {{ order.itemCount }}
                    </div>
                    <div class="column" style="width: 55%; font-size: 16px;">
                        {{ order.name || order.createdTimestamp.toDateString() }}
                    </div>
                    <div ng-hide="removingOrder == order" class="column" style="width: 25%; font-size: 16px;" >
                        {{ order.total | currency }}
                    </div>
                    <div ng-show="removingOrder == order" class="column" style="width: 25%; font-size: 16px;" ng-click="removeOrder(order, true); $event.stopPropagation();">
                        remove?
                    </div>
                </div>
            </div>

            <div ng-show="invoice.adjustments.length > 0">
                <div style="font-weight: bold; padding: 5px; background:  #C5B9AF;">
                    <div class="columns">
                        <div class="column"
                             style="width: 75%; font-size: 16px;">
                            Order Subtotal
                        </div>
                        <div class="column" style="width: 25%; font-size: 16px;" >
                            {{ invoice.subtotal | currency }}
                        </div>
                    </div>
                </div>
                <div style="text-indent: 5px; background: #E5D9CF;">Adjustments</div>
                <div ng-click="adjustmentClick(adjustment)"
                     ng-class="{ selectedRow: removingAdjustment == adjustment }"
                     ng-swipe-right="removeAdjustment(adjustment)"
                     class="linkedRow"
                     ng-repeat="adjustment in invoice.adjustments">
                    <div class="columns" style="top: 12px;">
                        <div class="column"
                             style="width: 75%; font-size: 16px; text-indent: 10px;">
                            {{ adjustment.name }}
                        </div>
                        <div ng-hide="removingAdjustment == adjustment" class="column" style="width: 25%; font-size: 16px;" >
                            {{ adjustment.lineItem | currency }}
                        </div>
                        <div ng-show="removingAdjustment == adjustment" class="column" style="width: 25%; font-size: 16px;"
                             ng-click="removeAdjustment(adjustment, true); $event.stopPropagation();">
                            remove?
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer" ng-show="invoice.orders.length">
            <div class="footerText">{{ orderCountText(invoice) }}, {{ invoice.total | currency }}</div>
            <div class="footerActions">
                <a class="footerAction" target="_blank" ng-href="/documents/invoices/{{ invoice.id }}?ac={{ invoice.accessCode }}">html</a>
                <a class="footerAction" target="_blank" ng-href="/documents/invoices/{{ invoice.id }}.pdf?ac={{ invoice.accessCode }}">pdf</a>
                <a class="footerAction" ng-show="invoice.statusId == 1" ng-click="complete()">complete</a>
                <a class="footerAction" ng-show="invoice.statusId == 2 && !sendAck.loading" ng-click="send()">send</a>
                <a class="footerAction" ng-show="invoice.statusId == 2 && sendAck.loading" >sending...</a>
            </div>
        </div>
    </div>
</div>
