<div class="view" ms-auth style="margin-top: 150px;">
    <div class="viewMessage" ng-show="invoice.loading">
        Loading...
    </div>
    <div class="viewMessage" ng-show="invoice.error">
        There was an error loading that invoice.<br>
        {{ invoice.error }} <br><br>
        <a href="/invoices" style="font-weight: bold;">list all invoices</a>
    </div>
    <div ng-hide="invoice.error" style="position: relative;">
        <div class="header">
            <a class="headerTitle" href="/invoices">
                Invoice #{{ invoice.id }}
            </a>
            <div class="headerActions" ng-show="invoice.statusId == 1">
                <a class="headerAction" ng-href="/invoices/{{ invoice.id }}/addOrder">add order</a>
            </div>
            <div class="subHeader">
                <div style="text-indent: 4px;">
                    <div style="font-size: 14px">{{ invoice.name || invoice.createdTimestamp.toDateString() }} billed to {{ invoice.billedToName }}</div>
                    <div style="font-size: 12px">
                        <div ng-show="invoice.billedToPhone">phone #: {{ invoice.billedToPhone }}</div>
                        <div ng-show="invoice.billedToEmail">email: {{ invoice.billedToEmail }}</div>
                        <div>started on {{ invoice.createdTimestamp.toLocaleString() }}</div>
                        <div>last updated {{ invoice.modifiedTimestamp.toLocaleString() }}</div>
                        <div ng-hide="invoice.billedToPhone"><br></div>
                        <div ng-hide="invoice.billedToEmail"><br></div>
                    </div>
                </div>
                <div class="columnHeaders" ng-show="invoice.orders.length">
                    <div class="columnHeader" style="width: 20%;">Items</div>
                    <div class="columnHeader" style="width: 55%">Order Name</div>
                    <div class="columnHeader" style="width: 25%;">Total</div>
                </div>
            </div>
        </div>

        <div style="margin-bottom: 50px;">
            <div ng-hide="invoice.orders.length" style="text-align: center; margin-top: 200px;">
                There are no orders in this invoice.<br><br>
                <a ng-show="invoice.statusId == 1" href="/invoices/{{ invoice.id }}/addOrder" style="font-weight: bold;">add an order now</a>
            </div>

            <div ng-click="orderClick(order)"
                 ng-class="{ selectedRow: removingOrder == order }"
                 ng-swipe-right="removeOrder(order)"
                 class="linkedRow"
                 ng-repeat="order in invoice.orders">
                <div class="columns" style="top: 12px;">
                    <div class="column"
                         style="width: 20%; font-size: 16px; text-align: center;">
                        {{ order.itemCount }}
                    </div>
                    <div class="column" style="width: 55%; font-size: 16px;">
                        {{ order.name || order.createdTimestamp.toDateString() }}
                    </div>
                    <div ng-hide="removingOrder == order" class="column" style="width: 25%; font-size: 16px;" >
                        {{ order.total | currency }}
                    </div>
                    <div ng-show="removingOrder == order" class="column" style="width: 25%; font-size: 16px;" ng-click="removeOrder(order, true); $event.stopPropagation();">
                        remove?
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" ng-show="invoice.orders.length">
            <div class="footerText">{{ orderCountText(invoice) }}, {{ invoice.total | currency }}</div>
            <div class="footerActions">
                <a class="footerAction" target="_blank" ng-href="/documents/invoices/{{ invoice.id }}?ac={{ invoice.accessCode }}">html</a>
                <a class="footerAction" target="_blank" ng-href="/documents/invoices/{{ invoice.id }}.pdf?ac={{ invoice.accessCode }}">pdf</a>
                <a class="footerAction" ng-show="invoice.statusId == 1" ng-click="complete()">complete</a>
                <a class="footerAction" ng-show="invoice.statusId == 2 && !sendAck.loading" ng-click="send()">send</a>
                <a class="footerAction" ng-show="invoice.statusId == 2 && sendAck.loading" >sending...</a>
            </div>
        </div>
    </div>
</div>