<div class="view" style="margin-top: 0;">
    <div class="header">
        <img class="homeLogo" src="/img/mainLogo.png">
    </div>
    <img class="homeLogo" style="margin-top: -6px;" src="/img/mainLogo.png">
    <div>
        <a class="linkedRow" href="/orders">
            <div style="margin: 12px;">
                Orders
            </div>
        </a>
        <a class="linkedRow" href="/invoices">
            <div style="margin: 12px;">Invoices</div>
        </a>
        <a class="linkedRow" href="/products">
            <div style="margin: 12px;">Products</div>
        </a>
        <a class="linkedRow" href="/customers">
            <div style="margin: 12px;">Customers</div>
        </a>
    </div>
    <div class="footer">
        <div class="footerActions">
            <a href="/orders/start">start order</a>
        </div>
    </div>
</div>