<div class="view" style="margin-top: 0;">
    <div class="header">
        <img class="homeLogo" src="/img/mainLogo.png">
    </div>
    <img class="homeLogo" style="margin-top: -4px;" src="/img/mainLogo.png">
    <div>
        <a class="linkedRow" href="/orders">
            <div style="margin: 12px;">Orders</div>
        </a>
        <a class="linkedRow" href="/documents">
            <div style="margin: 12px;">Documents</div>
        </a>
        <a class="linkedRow" href="/products">
            <div style="margin: 12px;">Products</div>
        </a>
    </div>
</div>