<div class="view">
    <div class="header">
        <a class="headerTitle" href="/products">
            Add A New Product
        </a>
    </div>

    <div>
        <div>
            <div style="background: #E5D9CF;">
                What is the product's name?
            </div>
            <input class="textInputRow" type="text" ng-model="product.name">
        </div>

        <div>
            <div style="background: #E5D9CF;">
                Briefly describe the product:
            </div>
            <input class="textInputRow" type="text" ng-model="product.description">
        </div>

        <div>
            <div style="background: #E5D9CF;">
                What is the unit of measure for the product?
            </div>
            <div>
                <div class="row"
                     ng-repeat="unit in units"
                     ng-click="selectUnit(unit)"
                     ng-class="{ selectedRow: selectedUnit == unit, hiddenRow: selectedUnit && selectedUnit != unit }">
                    <div style="margin-top: 12px; margin-left: 4px;">
                        {{ unit.name }} <span style="float: right; margin-right: 8px; font-style: italic; font-size: 14px;" ng-show="selectedUnit == unit">change?</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" ng-show="selectedUnit && product.name">
        <div class="footerError" ng-show="addError" ng-click="addError = null" ng-swipe-right="addError = null">
            <span ng-show="addError == 'MISSING_INFO'">You need to enter a name and select a unit before adding.</span>
            <span ng-show="addError == 'DUPLICATE'">Sorry, there's already a product with that name.</span>
        </div>
        <div class="footerMsg" ng-show="adding">
            Adding {{ product.name }} to the catalog...
        </div>
        <div class="footerActions">
            <a class="footerAction" ng-click="add()">add</a>
        </div>
    </div>
</div>