<div class="view" style="margin-top: 48px;">
    <div class="header">
        <a href="/" class="headerTitle">
            Products
        </a>
        <div class="headerActions">
            <a class="headerAction" href="/products/add">
                add
            </a>
        </div>
    </div>
    <div>
        <a class="linkedRow" ng-repeat="product in products" href="/products/{{ product.id }}">
            <div class="columns" style="position: relative; top: 6px;">
                <div class="column" style="width: 95%;">{{ product.name }}</div>
            </div>

            <div class="rowFootnote">
                {{ product.description }}
            </div>
        </a>
    </div>
    <div class="viewMessage" ng-hide="products.length" style="margin-top: 100px;">
        No Products.<br><br><br><br>
        <a href="/products/add">add a new product</a>
    </div>
</div>