<div class="view" style="margin-top: 48px;">
    <div class="header">
        <a href="/products" class="headerTitle">
            Product Groups
        </a>
        <div class="headerActions">
            <a class="headerAction" href="/products/groups/add">
                add
            </a>
        </div>
    </div>
    <div>
        <a class="linkedRow"
           ng-repeat="productGroup in productGroups"
           href="/products/groups/{{ productGroup.id }}"
           style="text-indent: 15px;">
            <div class="columns" style="position: relative; top: 12px;">
                <div class="column" style="width: 95%;">{{ productGroup.name }}</div>
            </div>
        </a>
    </div>
    <div class="viewMessage" ng-hide="productGroups.length" style="margin-top: 100px;">
        No Product Groups.<br><br><br><br>
        <a href="/products/groups/add">add a new product group</a>
    </div>
</div>