<div class="view">
    <div class="header">
        <a class="headerTitle" ng-href="/products/{{ product.id }}">
            Price for {{ product.name }}
        </a>
    </div>

    <div>
        <div>
            <div style="background: #E5D9CF;">
                Unit price for {{ price.orderTypeName }} orders<span ng-show="price.customerId"> from {{ price.customerName}}</span>, in dollars:
            </div>
            <input class="textInputRow" type="number" ng-model="unitPrice">
        </div>
    </div>

    <div class="footer">
        <div class="footerActions">
            <a class="footerAction" ng-click="update()">update</a>
        </div>
    </div>
</div>