<div class="view" style="margin-top: 48px;">
    <div class="header">
        <a href="/products/groups" class="headerTitle">
            {{ productGroup.name }} Product Group
        </a>
    </div>
    <div>
        <div>
            <div style="background: #E5D9CF;">
                Name:
            </div>
            <input class="textInputRow" type="text" ng-model="productGroup.name">
        </div>
        <div>
            <div style="background: #E5D9CF;">
                Tap products to toggle inclusion in this group:
            </div>
            <div class="row"
                 ng-hide="product.productGroupId && product.productGroupId != productGroup.id"
                 ng-repeat="product in products | orderBy: 'name'"
                 ng-class="{ selectedRow: product.productGroupId == productGroup.id }"
                 ng-click="toggleProductInclusion(product)">
                <div class="columns" style="position: relative; top: 6px;">
                    <div class="column" style="width: 95%;">{{ product.name }}</div>
                </div>

                <div class="rowFootnote">
                    {{ product.description }}
                </div>
            </div>
        </div>
    </div>

    <div class="viewMessage" ng-hide="productGroup" style="margin-top: 100px;">
        No Such Product Group.<br><br><br><br>
        <a href="/products/groups">see all product groups</a>
    </div>

    <div class="footer" ng-show="productGroup.name != origName">
        <div class="footerActions">
            <a class="footerAction" ng-click="update()">update</a>
        </div>
    </div>
</div>