<div class="view" style="margin-top: 54px;">
    <div class="header">
        <div class="headerText">Add Item To Order #{{ order.id }}</div>
        <!--<div class="headerActions">-->
            <!--<a href="/orders/start">start</a>-->
        <!--</div>-->
        <div class="subHeader" style="font-size: 12px;">
            <span style="margin: 4px;"><span>select a product</span> for {{ order.customerName }}'s order</span>
        </div>
    </div>
    <div>
        <div class="row"
             ng-repeat="product in products"
             ng-click="select(product)"
             ng-class="{ selectedRow: selectedProduct == product, notSelectedRow: selectedProduct && selectedProduct != product }">
            <div style="margin-top: 12px; margin-left: 4px;">
                {{ product.name }}
                <div style="float: right; margin-right: 4px;">
                    <div style="width: 100%; text-align: center;">{{ product.unitPrice | currency }}</div>
                    <div style="width: 100%; text-align: center; font-size: 11px; font-weight: 300; position: relative; top: -5px;">{{ product.unitName }}</div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="selectedProduct"></div>
    </div>
    <div class="footer" ng-show="selectedProduct">
        <div class="footerText">
            Quantity: <input type="number" ng-model="quantity" />
        </div>
        <div class="footerActions">
            <a ng-click="add()">add item</a>
        </div>
    </div>
</div>