<div class="view" style="margin-top: 52px;">
    <div class="header">
        <a class="backLink" href="/"></a>
        <div class="headerText">Orders</div>
        <div class="headerActions">
            <a href="/orders/start">start</a>
        </div>
        <div class="subHeader">
            <div class="columnHeaders">
                <div class="columnHeader" style="width: 36%;">Customer</div>
                <div class="columnHeader" style="width: 38%;">Name</div>
                <div class="columnHeader" style="width: 16%;">Total</div>
            </div>
        </div>
    </div>
    <div>
        <a class="linkedRow" ng-repeat="order in orders" href="/orders/{{ order.id }}">
            <div class="columns" style="position: relative; top: 6px;">
                <div class="column" style="width: 36%;">{{ order.customerName }}</div>
                <div class="column" style="width: 38%;">{{ order.name || order.createdTimestamp.toDateString() }}</div>
                <div class="column" style="width: 16%;">{{ order.total | currency }}</div>
            </div>

            <div class="ordersRowFootnote">#{{ order.id }}, {{ itemCountText(order) }}, modified {{ order.modifiedTimestamp.toLocaleString() }} </div>
        </a>
    </div>
</div>