<div class="view" style="margin-top: 52px;">
    <div class="header">
        <div class="headerText">Orders</div>
        <div class="headerActions">
            <a href="/orders/start">start</a>
        </div>
        <div class="subHeader">
            <div class="columnHeader" style="width: 90px;">Customer</div>
            <div class="columnHeader" style="width: 128px;">Name</div>
            <div class="columnHeader" style="width: 40px;">Total</div>
        </div>
    </div>
    <div>
        <a class="linkedRow" ng-repeat="order in orders" href="/orders/{{ order.id }}">
            <div class="column" style="width: 90px;">{{ order.customerName }}</div>
            <div class="column" style="width: 128px;">{{ order.name || order.createdTimestamp.toDateString() }}</div>
            <div class="column" style="width: 60px;">{{ order.total | currency }}</div>
            <div class="ordersRowFootnote">#{{ order.id }}, {{ itemCountText(order) }}, modified {{ order.modifiedTimestamp.toLocaleString() }} </div>
        </a>
    </div>
</div>