<div class="view" ms-auth style="margin-top: 68px;">
    <div class="header">
        <a href="/" class="headerTitle">
            Orders
        </a>
        <div class="headerActions">
            <a class="headerAction" ng-hide="showingCompleted" ng-click="toggleShowingCompleted()">
                show completed
            </a>
            <a class="headerAction" ng-show="showingCompleted" ng-click="toggleShowingCompleted()">
                hide completed
            </a>
            <a class="headerAction" href="/orders/start">
                start
            </a>
        </div>
        <div class="subHeader">
            <div class="columnHeaders">
                <div class="columnHeader" style="width: 36%;">Customer</div>
                <div class="columnHeader" style="width: 38%;">Name</div>
                <div class="columnHeader" style="width: 16%;">Total</div>
            </div>
        </div>
    </div>
    <div>
        <a class="linkedRow" ng-repeat="order in orders" href="/orders/{{ order.id }}">
            <div class="columns" style="position: relative; top: 6px;">
                <div class="column" style="width: 36%;">{{ order.customerName }}</div>
                <div class="column" style="width: 38%;">{{ order.name || order.createdTimestamp.toDateString() }}</div>
                <div class="column" style="width: 16%;">{{ order.total | currency }}</div>
            </div>

            <div ng-show="order.statusId == 1" class="rowFootnote">
                #{{ order.id }}, {{ itemCountText(order) }}, modified {{ order.modifiedTimestamp.toLocaleString() }}
            </div>
            <div ng-hide="order.statusId == 1" class="rowFootnote">
                #{{ order.id }}, {{ itemCountText(order) }}, {{ order.status.toUpperCase() }}
            </div>
        </a>
    </div>
    <div class="viewMessage" ng-hide="orders.length" style="margin-top: 100px;">
        No incomplete orders.<br><br><br><br>
        <a href="/orders/start">start a new order</a><br><br><br>
        <a ng-click="toggleShowingCompleted()">view completed orders</a>
    </div>
</div>