<div class="view" ng-click="clearSelectedItem()">
    <div class="viewMessage" ng-show="order.loading">
        Loading...
    </div>
    <div class="viewMessage" ng-show="order.error">
        There was an error loading that order.<br>
        {{ order.error }} <br><br>
        <a href="/orders" style="font-weight: bold;">list all orders</a>
    </div>
    <div ng-hide="order.error" style="position: relative;">
        <div class="header">
            <a class="backLink" href="/orders"></a>
            <div class="headerText">Order #{{ order.id }}: {{ order.name || order.createdTimestamp.toDateString() }}</div>
            <div class="headerActions">
                <a href="/orders/{{ order.id }}/edit">edit</a>
            </div>
            <div class="subHeader">
                <div style="font-size: 14px">for {{ order.customerName }}</div>
                <div style="font-size: 12px">
                    <div ng-show="order.customerPhone">phone #: {{ order.customerPhone }}</div>
                    <div ng-show="order.customerEmail">email: {{ order.customerEmail }}</div>
                    <div ng-hide="order.customerPhone"><br></div>
                    <div>started on {{ order.createdTimestamp.toLocaleString() }}</div>
                    <div>last updated {{ order.modifiedTimestamp.toLocaleString() }}</div>
                </div>

                <div class="columnHeaders" ng-show="order.items.length">
                    <div class="columnHeader" style="width: 20%;">Qty</div>
                    <div class="columnHeader" style="width: 55%">Name</div>
                    <div class="columnHeader" style="width: 25%;">Total</div>
                </div>
            </div>
        </div>

        <div style="margin-top: 134px; margin-bottom: 50px;">
            <div ng-hide="order.items.length" style="text-align: center; margin-top: 200px;">
                There are no items in this order.<br><br>
                <a ng-show="order.statusId == 1" href="/orders/{{ order.id }}/addItem" style="font-weight: bold;">add an item now</a>
            </div>
            <div>
                <div class="row" ng-repeat="item in order.items" ng-click="selectItem(item); $event.stopPropagation()" ng-class="{ selectedRow: selectedItem == item }">
                    <div class="columns" style="top: 12px;">
                        <div class="column" style="width: 20%;">
                            <span ng-hide="order.statusId == 1">{{ item.quantity }}</span>
                            <form ng-submit="itemQtyChange(item, true)">
                                <input style="width: 30px;"
                                       ng-show="order.statusId == 1"
                                       type="number"
                                       ng-click="$event.stopPropagation()"
                                       ng-model="item.quantity"
                                       ng-change="itemQtyChange(item)"
                                       ng-blur="itemQtyChange(item, true)"/>
                                <span ng-show="item.unitId == 2">g</span>
                                <span ng-show="item.unitId == 3">oz</span>
                                <span ng-show="item.unitId == 4">fz</span>
                                <span ng-show="item.unitId == 5">lb</span>
                            </form>
                        </div>
                        <div class="column" style="width: 55%; position: relative; top: -8px;">
                            {{ item.name }}
                        </div>
                        <div class="column" style="width: 25%;">
                            <span ng-hide="selectedItem == item">{{ item.itemTotal | currency }}</span>
                            <span ng-show="selectedItem == item" ng-click="removeItem(item)">remove?</span>
                        </div>

                        <span style="position: absolute; bottom: -8px; left: 20%; font-size: 12px; font-style: italic;">
                            @ {{ item.unitPrice | currency }} {{ item.unitName }}
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer" ng-show="order.items.length">
            <div class="footerText">{{ itemCountText(order) }}<br></bt>Total: {{ order.total | currency }}</div>
            <div class="footerActions">
                <a ng-show="order.statusId == 1" href="/orders/{{ order.id }}/addItem">add item</a>&nbsp;
                <a ng-show="order.statusId == 1" ng-click="complete()">complete</a>
                <span ng-hide="order.statusId == 1">Completed, <a ng-click="reopen()">reopen?</a></span>
            </div>
        </div>
    </div>

</div>