<div class="view">
    <div class="header">
        <a class="headerTitle" href="/orders">
            Start A New Order
        </a>
    </div>
    <div style="background: #E5D9CF;">
        Which customer is placing the order?
    </div>
    <div>
        <div class="row"
             ng-repeat="customer in customers"
             ng-click="selectCustomer(customer)"
             ng-class="{ selectedRow: selectedCustomer == customer, hiddenRow: selectedCustomer && selectedCustomer != customer }">
            <div style="margin-top: 12px; margin-left: 4px;">
                {{ customer.name }} <span style="float: right; margin-right: 8px; font-style: italic; font-size: 14px;" ng-show="selectedCustomer == customer">change?</span>
            </div>
        </div>
    </div>

    <div ng-show="selectedCustomer">
        <div style="background: #E5D9CF;">
            What type of order will this be?
        </div>
        <div>
            <div class="row"
                 ng-repeat="type in types"
                 ng-click="selectType(type)"
                 ng-class="{ selectedRow: selectedType == type, hiddenRow: selectedType && selectedType != type }">
                <div style="margin-top: 12px; margin-left: 4px;">
                    {{ type.name }} <span style="float: right; margin-right: 8px; font-style: italic; font-size: 14px;" ng-show="selectedType == type">change?</span>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="selectedCustomer && selectedType">
        <div style="background: #E5D9CF;">
            Give the order a name, if you want.
        </div>
        <input class="textInputRow" type="text" ng-model="name">
        <div style="background: #E5D9CF;">
            Here are some suggestions:
        </div>
        <div>
            <div class="row" ng-repeat="suggestedName in suggestedNames" ng-click="setName(suggestedName)">
                <div style="margin-top: 12px; margin-left: 4px;">
                    {{ suggestedName }}
                </div>
            </div>
        </div>
    </div>

    <div class="footer" ng-show="selectedCustomer && selectedType">
        <div class="footerText">
            Ready To Go!
        </div>
        <div class="footerActions">
            <a class="footerAction" ng-click="start()">start the order</a>
        </div>
    </div>
</div>