<div class="view">
    <div class="header">
        <div class="headerText">Start A New Order</div>
        <!--<div class="headerActions">-->
        <!--<a href="/orders/start">start</a>-->
        <!--</div>-->
    </div>
    <div>
        Which customer is placing the order?
    </div>
    <div>
        <div class="row"
             ng-repeat="customer in customers"
             ng-click="selectCustomer(customer)"
             ng-class="{ selectedRow: selectedCustomer == customer, hiddenRow: selectedCustomer && selectedCustomer != customer }">
            <div style="margin-top: 12px; margin-left: 4px;">
                {{ customer.name }} <span style="float: right; margin-right: 8px; font-style: italic; font-size: 14px;" ng-show="selectedCustomer == customer">change?</span>
            </div>
        </div>
    </div>

    <div ng-show="selectedCustomer">
        <div>
            What type of order will this be?
        </div>
        <div>
            <div class="row"
                 ng-repeat="type in types"
                 ng-click="selectType(type)"
                 ng-class="{ selectedRow: selectedType == type, hiddenRow: selectedType && selectedType != type }">
                <div style="margin-top: 12px; margin-left: 4px;">
                    {{ type.name }} <span style="float: right; margin-right: 8px; font-style: italic; font-size: 14px;" ng-show="selectedType == type">change?</span>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="selectedCustomer && selectedType">
        <div>
            Give the order a name, if you want.
        </div>
        <input style="width: 100%; height: 32px;" type="text" ng-model="name">
    </div>

    <div class="footer" ng-show="selectedCustomer && selectedType">
        <div class="footerText">
            Ready To Go!
        </div>
        <div class="footerActions">
            <a ng-click="start()">start the order</a>
        </div>
    </div>
</div>